/* 主题颜色变量 */
$stop-color: #FF4400; // 主题色

/* 页面背景色 */
$bg-color: #F8F8F8; // 浅灰色背景
$bg-white: #FFFFFF; // 纯白色背景

/* 字体颜色 */
$white-font: #FFFFFF; // 纯白色字体
$black-font: #000000; // 纯黑色字体
$shallow-font: #8A8A8A; // 浅灰色字体
$deep-font: #333333; // 深灰色字体

/* 边框颜色 */
$shallow-border: #E5E5E5; // 浅色边框色

/* 边框阴影 */
$shadow-color: #CCCCCC; // 浅色阴影

/* 按钮颜色 */
$btn-invalid: #8A8A8A; // 无效按钮
$btn-delete: #FF0000; // 删除按钮

/* 选项卡颜色 */
$menu-color: #FFE4E1; // 未选中颜色
$menu-color-active: #FF4400; // 选中颜色

/* 评论页面颜色 */
$name-font: #0062CC; // 评论名称颜色
$iconfont: #F78714; // 好评图标色